a{
    color:blue;
    text-decoration:dotted;
 }
 li{
    display:inline-block;
    height: 10px;
    width:150px;
    padding: 20px;
    text-align:center;
    color:blue;
    background-color:lightskyblue;
 }
 input[type=text] {
    width: 220px;
  box-sizing: border-box;
  border: 2px solid ;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
 }
h1{
    text-align:center;
    text-decoration:underline;
    border-radius:10px;
    background-color: lightblue;
}
p{
    text-align: left;
}
div.gallery img{
    width:30%;
    height:auto;
}
img{
    border-width:10px;
    border-style:ridge;
    border-color:black;
    border-radius:10px;
}
div.gallery img{
    width:30%;
    height:auto;
}
